.tipo-eletrico{
    background-color: #FFC719;
}

.tipo-fogo{
    background-color: #F15000d2;
}

.tipo-agua{
    background-color: #015c98;
}

.tipo-grama{
    background-color: #49D0B0;
}

.tipo-trevas{
    background-color: #BA68C8;
}

.tipo-fada{
    background-color: #C29791;
}